@media (max-width: 720px) {
  body {
    font-size: 16px;
    color: #666;
  }

  .sidebar {
    width: 100%;
    padding: 0;
    background-color: #fff;
  }

  .sidebar .avatar {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: rgb(37,70,101);
  }

  .sidebar .avatar span {
    margin-right: 20px;
  }

  .sidebar .avatar div {
    text-align: left;
  }

  .sidebar .avatar .name {
    font-size: 24px;
  }

  .information {
    margin-top: 20px;
    padding: 0 20px;
    color: #666;
  }

  .information h3 {
    color: rgb(37,70,101);
  }

  .information ul {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
  }

  .information ul li {
    width: 50%;
    margin-bottom: 10px;
  }

  .skill {
    display: none;
  }

  .main {
    width: 100%;
    padding: 0 20px;
  }

  .main .intention {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .main .intention .title div {
    border: none;
  }

  .main .intention ul li {
    width: 50%;
    margin-right: 0;
  }

  .main .experience {
    margin-bottom: 30px;
  }

  .main .experience .title div {
    border: none;
  }

  .main .itmes .time p {
    margin-bottom: 10px;
  }

  .main .itmes .content {
    margin-top: 0;
  }

  .main .project {
    margin-bottom: 30px;
  }

  .main .project .title div {
    border: none;
  }

  .main .project .itmes ul {
    margin-top: 0;
  }

  .main .education {
    margin-bottom: 30px;
  }

  .main .education .title div {
    border: none;
  }

  .main .skill-m {
    display: block;
    margin-bottom: 30px;
  }

  .main .skill-m h3 {
    font-size: 20px;
    color: rgb(37,70,101);
    margin-bottom: 20px;
  }

  .main .skill-m ul li {
    margin-bottom: 20px;
  }

  .main .skill-m .schedule {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main .skill-m .schedule .bar {
    position: relative;
    width: 80%;
    height: 14px;
    background-color: rgb(231, 231, 231);
  }

  .main .skill-m .schedule .son {
    position: absolute;
    top: 0;
    left: 0;
    width: 88%;
    height: 14px;
    background-color: rgb(50, 204, 231);
  }

  .main .skill-m .schedule .bar .son-j {
    width: 80%;
  }

  .main .skill-m .schedule .bar .son-v {
    width: 70%;
  }

  .main .skill-m .schedule .bar .son-a {
    width: 80%;
  }

  .main .skill-m .schedule .bar .son-w {
    width: 60%;
  }

  .main .skill-m .schedule .bar .son-jq {
    width: 88%;
  }

  .main .skill-m .schedule .bar .son-n {
    width: 20%;
  }

  .main .skill-m .schedule .bar .son-ps {
    width: 80%;
  }

  .main .skill-m .schedule .bar .son-ai {
    width: 75%;
  }

  .main .evaluate {
    margin-bottom: 30px;
  }

  .main .evaluate .title div {
    border: none;
  }

}